{% include 'header.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Courses Offered</h3>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-barch-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-barch" type="button" role="tab" aria-controls="v-pills-barch"
                        aria-selected="true">Bachelor of Architecture</button>
                    <button class="nav-link" id="v-pills-bplan-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-bplan" type="button" role="tab" aria-controls="v-pills-bplan"
                        aria-selected="false">Bachelor of Planning</button>
                    <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
                        aria-selected="false" disabled>Disabled</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">Messages</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Settings</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-barch" role="tabpanel"
                        aria-labelledby="v-pills-barch-tab" tabindex="0">Bachelor of Architecture
                        <br>
                        <p>
                            Name of the Programme Bachelor of Architecture
                            Abbreviation B.Arch
                            Year of Commencement 2008
                            Department Architecture
                            Duration Five Years
                            Semesters Ten
                            Eligibility
                            The admission to the Bachelor of Architecture and Bachelor of Planning courses is made on
                            the basis of Joint Seat Allocation Authority (JOSAA 2020). The students have to qualify the
                            basic requirements as per Central Seat Allocation Board (CSAB). The criteria for admission
                            as per CSAB 2020. JOSAA 2020 | CSAB 2020

                            Intake 98
                            Objective
                            The key objective of the programme is to prepare the students for professional practice in
                            the field of Architecture. Being an undergraduate programme, it has a broad scope, providing
                            exposure to a variety of interests in this field and assisting students to discover their
                            own directions for further development. The programme also aims at attaining a high level of
                            excellence in Architectural Design. To this end, the design course is seen as the core of
                            the programme with supportive inputs from courses in other streams viz., the Humanities, the
                            Technological and the Professional, built upon a strong foundation of enabling skills in
                            communications and data processing. The emphasis is on the development of faculties of
                            discernment and decision-making with the aid of both objective information and subjective
                            attitudes, based on reason.

                            Credits 300 (@30 / semester)
                            Marks 12000 (@1200/semester)
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-bplan" role="tabpanel" aria-labelledby="v-pills-bplan-tab"
                        tabindex="0">Bachelor of Planning <br>
                        <p>
                            Abbreviation B.Plan
                            Year of Commencement 2008
                            Department Planning
                            Duration Four Years
                            Semesters Eight
                            Eligibility
                            The admission to the Bachelor of Architecture and Bachelor of Planning courses is made on
                            the basis of Joint Seat Allocation Authority (JOSAA 2020). The students have to qualify the
                            basic requirements as per Central Seat Allocation Board (CSAB). The criteria for admission
                            as per CSAB 2020. JOSAA 2020 | CSAB 2020

                            Intake 34
                            Objective
                            The key objective of the programme is to equip the students with the fundamentals aspects
                            and specialized techniques of spatial planning in a comprehensive manner that ranges from
                            neighbourhood to regional planning. The curriculum is designed to impart basic skills
                            related to settlement patterns, growth and design, that would help students later in their
                            careers to serve in various professional capacities in planning, development and management
                            agencies in the public sector as well as private consultancy organizations. The aim of the
                            programme is multi-disciplinary in nature - drawing from the field of city planning,
                            blending the knowledge from architecture, engineering, geography, economics, sociology,
                            management, law, etc. During the programme, the students are equipped with the knowledge of
                            basic theories, techniques, and design concepts from mainstream of town and country
                            planning. Adequate emphasis is given to practicals / lab oriented design exercises, where
                            the students have opportunity of learning by doing.

                            Credits 240 (@30 / semester)
                            Marks 8000 (@1000/semester)
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel"
                        aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}