{% include 'header.html' %}

<div class="container bg-light p-2">
    <div class="card">
        <div class="card-header bg-info"><h4 class="text-center">Noticeboard</h4></div>
        <div class="card-body">
            <ul>
                {% for n in notice_board %}
                <li><a href="{{n.noticeFile.url}}" target="_blank">{{n.noticeTitle}}</a> <span>{{n.noticeTime}}</span></li>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br><br>
</div>

{% include 'footer.html' %}